@import "../node_modules/bootstrap/scss/bootstrap";

.form-group {
    > label {
        bottom: 34px;
        left: 15px;
        position: relative;
        background-color: white;
        padding: 0px 3px 0px 3px;
        font-size: 1rem;
        transition: 0.2s;
        pointer-events: none;
    }
}
.form-control {
    &:focus {
        ~ {
            label {
                bottom: 55px;
                font-size: 0.9rem;
            }
        }
    }
    &:valid {
        ~ {
            label {
                bottom: 55px;
                font-size: 0.9rem;
            }
        }
    }
}
