$primary: #6658ea;
$success: hsl(153, 53%, 53%);
$danger: hsl(348, 86%, 61%);
$info: hsl(229, 53%, 53%);

$font-family-sans-serif: "Inter", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    transition: all 0.35s ease-in-out;
}

.btn {
    &:hover {
        box-shadow: none !important;
        transition: box-shadow 0.35s ease-in ;
    }
}

.btn-link {
    text-decoration: none;
}

.card {
    margin-bottom: 1rem;
    box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.15);
}

.row {
    margin-bottom: 1rem;
}

main {
    padding: 1.5rem;
}

.dropdown-item {
    padding: 0.3rem 1rem;
}

.form-group {
    margin-bottom: 1rem;
    label {
        margin-bottom: 0.25rem;
        font-weight: 700;
    }
}

.card-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}

footer {
    &.footer {
        background: #fff;
        border-top: 1px solid #dee6ed;
        padding: 1rem 0.75rem;
        direction: ltr;
        max-height: 50px;
    }
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0 !important;
    width: 260px;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out, margin-right 0.35s ease-in-out,
        right 0.35s ease-in-out;

    &.collapsed {
        margin-left: -260px;
        transition: all 0.35s ease-in-out;
    }

    .nav-link {
        font-weight: 500;
        color: #333;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .nav-link.active {
        color: $primary;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.avatar {
    margin-top: -15px;
    margin-bottom: -15px;
    width: 36px;
    height: 36px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}
